<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://zalo-filegroup-bf1.zdn.vn/843b9d77746b9935c07a/5433372066577135112</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.sakuravn.ios.facebook</string>
				<key>bundle-version</key>
				<string>185.0</string>
				<key>kind</key>
				<string>software</string>
				<key>subtitle</key>
				<string>828392616</string>
				<key>title</key>
				<string>Facebook 185.0</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
